/*

Add styles or override variables from the theme here.

*/

// Theme color overrides
$primary: #3d6ead;
$secondary: #2f95c5;

// Headshot picture CSS class
.img-headshot {
  width: 200px; /* Change this to the desired width of your image */
  height: 200px; /* Change this to the desired height of your image */
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
  object-fit: cover;
}

// Custom buttons
// GitHub button
.btn-github {
  color: #fff;
  background: #6f42c1 linear-gradient(180deg, #8a63d2, #6f42c1) repeat-x;
  border-color: #6f42c1;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); 
}

.btn-github:hover {
  color: #fff;
  background: #5e35b1 linear-gradient(180deg, #7e57c2, #5e35b1) repeat-x;
  border-color: #512da8;
}

.btn-github:focus, .btn-github.focus {
  color: #fff;
  background: #5e35b1 linear-gradient(180deg, #7e57c2, #5e35b1) repeat-x;
  border-color: #512da8;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(111, 66, 193, 0.5); 
}

.btn-github.disabled, .btn-github:disabled {
  color: #fff;
  background-color: #6f42c1;
  border-color: #6f42c1;
  background-image: none; 
}

.btn-github:not(:disabled):not(.disabled):active, .btn-github:not(:disabled):not(.disabled).active, .show > .btn-github.dropdown-toggle {
  color: #fff;
  background-color: #512da8;
  background-image: none;
  border-color: #4527a0; 
}

.btn-github:not(:disabled):not(.disabled):active:focus, .btn-github:not(:disabled):not(.disabled).active:focus, .show > .btn-github.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(111, 66, 193, 0.5); 
}

.btn-github,
.btn-github:hover,
.btn-github:focus,
.btn-github.focus,
.btn-github.disabled,
.btn-github:disabled,
.btn-github:not(:disabled):not(.disabled):active,
.btn-github:not(:disabled):not(.disabled).active,
.show > .btn-github.dropdown-toggle {
  color: #fff !important;
}

// LinkedIn button
.btn-linkedin {
  color: #fff;
  background: #0077b5 linear-gradient(180deg, #008cc9, #0077b5) repeat-x;
  border-color: #0077b5;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); 
}

.btn-linkedin:hover {
  color: #fff;
  background: #006699 linear-gradient(180deg, #0077b5, #006699) repeat-x;
  border-color: #00557f;
}

.btn-linkedin:focus, .btn-linkedin.focus {
  color: #fff;
  background: #006699 linear-gradient(180deg, #0077b5, #006699) repeat-x;
  border-color: #00557f;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(0, 119, 181, 0.5); 
}

.btn-linkedin.disabled, .btn-linkedin:disabled {
  color: #fff;
  background-color: #0077b5;
  border-color: #0077b5;
  background-image: none; 
}

.btn-linkedin:not(:disabled):not(.disabled):active, .btn-linkedin:not(:disabled):not(.disabled).active, .show > .btn-linkedin.dropdown-toggle {
  color: #fff;
  background-color: #00557f;
  background-image: none;
  border-color: #004466; 
}

.btn-linkedin:not(:disabled):not(.disabled):active:focus, .btn-linkedin:not(:disabled):not(.disabled).active:focus, .show > .btn-linkedin.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(0, 119, 181, 0.5); 
}

.btn-linkedin,
.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin.focus,
.btn-linkedin.disabled,
.btn-linkedin:disabled,
.btn-linkedin:not(:disabled):not(.disabled):active,
.btn-linkedin:not(:disabled):not(.disabled).active,
.show > .btn-linkedin.dropdown-toggle {
  color: #fff !important;
}

// Twitter button
.btn-twitter {
  color: #fff;
  background: #1da1f2 linear-gradient(180deg, #1da1f2, #0c84c1) repeat-x;
  border-color: #1da1f2;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); 
}

.btn-twitter:hover {
  color: #fff;
  background: #0c84c1 linear-gradient(180deg, #1da1f2, #0c84c1) repeat-x;
  border-color: #0c6b94;
}

.btn-twitter:focus, .btn-twitter.focus {
  color: #fff;
  background: #0c84c1 linear-gradient(180deg, #1da1f2, #0c84c1) repeat-x;
  border-color: #0c6b94;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(29, 161, 242, 0.5); 
}

.btn-twitter.disabled, .btn-twitter:disabled {
  color: #fff;
  background-color: #1da1f2;
  border-color: #1da1f2;
  background-image: none; 
}

.btn-twitter:not(:disabled):not(.disabled):active, .btn-twitter:not(:disabled):not(.disabled).active, .show > .btn-twitter.dropdown-toggle {
  color: #fff;
  background-color: #0c6b94;
  background-image: none;
  border-color: #0c4f6c; 
}

.btn-twitter:not(:disabled):not(.disabled):active:focus, .btn-twitter:not(:disabled):not(.disabled).active:focus, .show > .btn-twitter.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125), 0 0 0 0.2rem rgba(29, 161, 242, 0.5); 
}

.btn-twitter,
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter.focus,
.btn-twitter.disabled,
.btn-twitter:disabled,
.btn-twitter:not(:disabled):not(.disabled):active,
.btn-twitter:not(:disabled):not(.disabled).active,
.show > .btn-twitter.dropdown-toggle {
  color: #fff !important;
}

// Custom text formatting for blog
.center-text {
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
  max-width: 720px;
  font-size: 18px;
  line-height: 1.6;
}
